<h1>Register Here</h1>

username is : {{username}} <br>
password is : {{password}} <br>
email is : {{email}} <br>
age is : {{age}} <br>
salary is : {{salary}} <br>
<hr>
Enter username <input type="text" value="{{username}}" > <br>
Enter password <input type="password" value="{{password}}"> <br>
Enter email <input type="email" value="{{email}}"> <br>
Enter age <input type="number" value="{{age}}"> <br>
Enter salary <input type="number" value="{{salary}}"> <br>
<button>Register</button>
<hr>
Enter username <input type="text" [value]="username" > <br>
Enter password <input type="password" [value]="password"> <br>
Enter email <input type="email" [value]="email"> <br>
Enter age <input type="number" [value]="age"> <br>
Enter salary <input type="number" [value]="salary"> <br>
<hr>
Enter username <input type="text" [(ngModel)]="username" > <br>
Enter password <input type="password" [(ngModel)]="password"> <br>
Enter email <input type="email" [(ngModel)]="email"> <br>
Enter age <input type="number" [(ngModel)]="age"> <br>
Enter salary <input type="number" [(ngModel)]="salary"> <br>





